header {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    background: var(--white);
    width: 100%;
}

.header__links {
    display: none;
}

header .button {
    display: none;
}

@media (min-width: 992px) {
    header .button {
        display: block;
    }

    .material-symbols-outlined {
        display: none;
    }

    header {
        position: static;
        justify-content: space-around;
    }

    .header__links {
        display: block;
    }

    .header__links div {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .header__links div a {
        position: relative;
        text-decoration: none;
        color: var(--grayish-blue);
        transition: 0.2s;
    }

    .header__links div a:hover {
        transition: 0.2s;
        color: var(--dark-blue);
    }

    .header__links div a::after {
        content: ' ';
        width: 0%;
        height: 4px;
        background: linear-gradient(90deg, var(--lime-green) 23%, var(--bright-cyan) 88%);

        position: absolute;
        bottom: -20px;
        left: 0;
        transition: 0.3s ease-in-out;
    }

    .header__links div a:hover::after {
        width: 100%;
    }
}